
@{
    ViewBag.Title = "Chantiers#Details";
    Reports_Manager.Models.Shop shop = @ViewBag.shop;
}

<h2>@shop.Magasin # @shop.Otp</h2>

<h3>Informations</h3>
<address>@String.Format("{0}, {1}, {2}", shop.Adresse, shop.Code_postal, shop.Ville)</address>
