@{
    ViewBag.Title = "Shops#Index";
}

<h2>Shops#index</h2>

<div id="result"> en cours de chargement </div>

@Html.Partial("~/Views/Shops/_Search_box.cshtml" )

<img id="loader" src="~/Content/img/ajax-loader.gif" style="display:none" />
<button id="load_more">charger 10 résultats supplémentaires</button>

<a id="recherche_but" href="#"><img src="~/Content/img/search.png" /></a>


<script src="~/Scripts/search_form.js"></script>