@{
    ViewBag.Title = "Shops#Index";
}

<h2>Shops#index</h2>

<div id="result"> en cours de chargement </div>

@Html.Partial("~/Views/Shops/_Search_box.cshtml" )

<button id="test" >salout</button>

<script src="~/Scripts/search_form.js"></script>