@{
    ViewBag.Title = "Reports#Index";
}

<h2>@ViewBag.Title</h2>

<table>

    <thead>
        <tr>
            <th>id</th>
            <th>user</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Reports_Manager.Models.Report report in ViewBag.reports)
        {
            report.get_user();
            <tr>
                <td>@Html.ActionLink( report.Id.ToString() , "Details" , "Reports" , new { Id = report.Id } , null )</td>
                <td>@Html.Partial("~/Views/Users/_Link.cshtml", report.User)</td>
            </tr>
        }
    </tbody>

</table>