
@{
    ViewBag.Title = "Users#Index";
}

<h2>Users#index</h2>

<ul>
    @foreach (var user in ViewBag.users )
    {
        string complete_name = String.Format("{0} {1}", user.Firstname, user.Lastname);
        <li>@Html.ActionLink(complete_name, "Details", new { Id = user.Id })</li>
    }
</ul>