

@{
    ViewBag.Title = "Users#Index";
}

<h2>Users#index</h2>


<table>

    <thead>
        <tr>
            <th>Nom</th>
            <th>Nb. rapport(s)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Reports_Manager.Models.User user in ViewBag.users)
        {
            <tr>
                <td>@Html.Partial("~/Views/Users/_Link.cshtml" , user )</td>
                <td>@user.Password</td>
            </tr>
        }
    </tbody>

</table>