
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<h3>A propos du développement</h3>
<p>Le code utilisé pour développer cette application est le <strong>ASP.NET</strong>. Il s'agit d'un langage très populaire crée dans les années 2000 par Microsoft.</p>
<p>J'ai utilisé le Framework <strong>ASP.NET MVC</strong>. Un Framework est un cadre qui impose une méthodologie. L'avantage est que le code respecte le modèle <strong>MVC</strong> (Modèle Vue Controlleur). En respectant ce consensus le code source est ainsi plus lisible pour une personne exterieure. De plus il serait plus facile de rajouter des fonctionnalités et de le mettre à jour.</p>
<p>Concernant la base de données, elle est gérée avec MSSQL. Toutes les requêtes sont gérées proprement avec la partie <strong>Modèle</strong> du framework.</p>
