html{ background-color: #22313F; padding: 10px;}

body{
	padding: 10px;
	width:400px;
	margin: auto ;
	background-color: #ececec
}

ul.tasks{
	list-style: none;
	padding: 0;
}

ul.tasks > li{
	margin-bottom: 10px
}

ul.actions{
	list-style: none;
	display: inline;
	padding: 0;
}

ul.actions > li{
	display: inline;
}