html{ background-color: #22313F; padding: 10px;height: 100% ;}

body, footer{
	background-color: #ECF0F1;
	width:400px;
}

body{
	margin: auto ;
	background-color: #ECF0F1;
	font-size: 18px; 
}

h1{
	background-color: #D91E18 ;
	margin: 0px;
	padding: 0px;
	color: #ECF0F1 ;
	text-align: center;
}


div.task{
	padding: 5px;
	margin-bottom: 10px;
	background-color: #D2D7D3 ;
	border-radius: 0.75em;
	/*make a small aligned square */
	display: block;
	width: 150px;
	height: 150px;
	vertical-align: top;
}

ul.actions{
	text-align: center ;
	list-style: none;
	padding: 0;
	/*move to the backround of the task*/
	width: 100%;
	top: 0px;
}
	ul.actions > li{display: inline; }

footer{
	font-size: 12px;
	text-align: right;
}