html{ background-color: #22313F; padding-top: 10px;height: 100% ;}

html, body{min-height: 100%;}

body, footer{
	background-color: #ECF0F1;
	width:600px;
}

body{
	margin: auto ;
	background-color: #ECF0F1;
	font-size: 18px;
	text-align: center ;
}

h1{
	background-color: #D91E18 ;
	margin: 0px;
	padding: 0px;
	color: #ECF0F1 ;
	text-align: center;
}


div.task, #delete, #new{
	padding: 5px;
	margin: 10px;
	margin-bottom: 10px;
	border-radius: 0.75em;
	/*make a small aligned square */
	display: inline-block;
	width: 150px;
	height: 150px;
	vertical-align: top;
}

div.task{
	background-color: #D2D7D3 ;
}

ul.actions{
	text-align: center ;
	list-style: none;
	padding: 0;
	/*move to the backround of the task*/
	width: 100%;
	top: 0px;
}
	ul.actions > li{display: inline; }

#delete, #new{
	/* create a div with a trash logo in the center*/
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	/* fix the div in a corner */
	position: fixed; 
	left: 0px ;
}
#delete{
	background-image: url(/static/ic_delete.svg);
	/* fix the div in a corner */
	position: fixed; 
	bottom: 0px;

}
#new{
	background-image: url(/static/ic_add.svg);
	position: fixed; 
	bottom: 150px;
	cursor: pointer;
}

footer{
	font-size: 12px;
	text-align: right;
}